body{
   background-color: black;
}
header{
   height: 75vh;
   width: 98vw;
   /* margin: 1px; */
   background: url(../assets/gal01.jpg);
   /* background-position: center; */
   background-size: cover;
   /* background-repeat: no-repeat; */
}
.header .navbar, .header .navbar a{ 
 color: white;
 text-decoration:none;
 font-size:large ;
}
.header .navbar .nav-item{
   float: right;
}
.header .navbar .nav-items{
  display: inline-block;
  margin-top: 0px;
  padding: 1rem;  
}
.header .main{
  padding-left: 20rem;
  font-size: 3rem;
  color: white;
}
.images{ 
   font-size: larger;
   color: white;
   text-align: center;
}
.img {
  color: 1rem white;
   flex-direction: column;
   column-count: 3;
   width: 99%;
}
.i-images{
   box-sizing: border-box;
  
   height: 300px;
   width: 450px;
}
.footer{
   height: 300px;
   width: 98vw;
   float: right;
   background-color: rgb(36, 30, 30);
  padding-top: 6rem;
  border: 20px grey; 
display: flex;
font-size: large;
}
.footer  a{
color: white;
text-decoration: none;
display: flex;
}
.footer .fotr , .footer .foot-items, .footer .abc, .footer .ijkl{
   list-style: none;
   padding: 5px;
   font-size: large;
}
 .footer .f{
width: 937px;
height: 300px;
}
.footer1{
   display: flex;
}
.footer .fotr{
  margin-left: 70%;
  /* list-style: none; */
} 
.footer .fotr .abcd{
   list-style: none;
}
.footer .fotr h5{
   color: white;
}